@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');


.homepage-container {
    height: 75vh;
}

.search-section input {
    margin: 0.5rem;
    padding: 0.533333rem 1.6rem;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}


.search-section button {
    margin: 0.5rem;
    padding: 0.5rem;
}

.home-logo {
    display: flex;
    justify-content: center;
    height: 250px;
}

.home-logo img {
    vertical-align: middle;
}

.weather-widget {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin: 20px auto;
    max-width: 50%;
    background-color: #f9f9f9;
}

.weather-widget h2 {
    text-align: center;
    color: #333;
    margin-bottom: 10px;
    padding-bottom: 9px;
    border-bottom: 1px solid lightgrey;
}

.weather-widget h2 span {
    color: lightgrey;
    font-size: 0.8em;
}

.weather-widget h4 {
    margin: 10px 0;
    color: #666;
}

.weather-widget p {
    font-size: 16px;
    line-height: 1.4;
    color: #333;
    margin-left: 20px;
}

.form-control {
    transition: transform 0.2s ease-in-out;
}

.form-control:hover {
    transform: scale(1.05);
}

.input-group .form-control {
    border-left: 0;
    border-right: 0;
}

.input-group .form-control:focus {
    box-shadow: none;
}

.input-group-text {
    background: #fff;
    border-right: 0;
}

.input-group button {
    border-left: 0;
}

.input-group button {
    background: transparent;
    border: none;
}

.fa-search, .fa-arrow-right {
    color: #495057;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 2;
        transform: translateY(0);
    }
}

.fade-in-up {
    animation: fadeInUp 2s ease-out;
}

h1 {
    font-family: 'Montserrat', sans-serif;
}

h3 {
    font-family: 'Montserrat', sans-serif;
}

span {
    font-family: 'Montserrat', sans-serif;
}

.thema-item {
    margin-bottom: 1rem;
}

.thema-icon {
    width: 50px;
    margin-bottom: 0.5rem;
}

.weather-table td, .weather-table th {
    border: none;
    font-family: 'Montserrat', sans-serif;
}


@media (max-width: 768px) {
    .thema-icon {
        width: 40px;
    }
}
