.homepage-container {
    height: 75vh;
    margin-left: 25%;
    margin-right: 25%;
}

.search-section {
    text-align: center;
}

.search-section input {
    margin: 0.5rem;
    padding: 0.5rem;
    width: 100%;
}

.search-section button {
    margin: 0.5rem;
    padding: 0.5rem;
}

.home-logo {
    display: flex;
    justify-content: center;
    height: 250px;
}

.home-logo img {
    vertical-align: middle; /* Nodig om verticaal te centreren binnen line-height */
}
